<h1>Log in</h1>
<p id="notice"><%= notice %></p>

<%= form_tag sessions_path do %>
    username <%= text_field_tag :username, params[:username] %><br/>
    password <%= password_field_tag :password, params[:password] %><br/>
    <%= submit_tag "Kirjaudu sisään" %>
<% end %>