<h1>Listing toppings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Unit</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @toppings.each do |topping| %>
      <tr>
        <td><%= link_to topping.name, topping %></td>
        <td><%= topping.amount %></td>
        <td><%= topping.unit %></td>
        <% if current_user %>
        <td><%= link_to 'Edit', edit_topping_path(topping) %></td>
        <td><%= link_to 'Destroy', topping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user %>
<%= link_to 'New Topping', new_topping_path %>
<% end %>
