<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @topping.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @topping.amount %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @topping.unit %>
</p>

<% if current_user %>
<%= link_to 'Edit', edit_topping_path(@topping) %> |
<% end %>
<%= link_to 'Back', toppings_path %>
