<p id="notice"><%= notice %></p>

<h1><%= @pizza.name %></h1>

<%= @pizza.description %><br/>

<% @pizza.toppings.each do |t| %>
<%= "#{t.name} #{t.amount} #{t.unit}"%><br/>
<% end %>

<p>
  <strong>User:</strong>
  <%= @pizza.user_id %>
</p>

<%= link_to 'Edit', edit_pizza_path(@pizza) %> |
<%= link_to 'Back', pizzas_path %>
