<p id="notice"><%= notice %></p>

<h1><%= @pizza.name %></h1>

<%= @pizza.description %><br/>

<% @pizza.toppings.each do |t| %>
<%= "#{t.name} #{t.amount} #{t.unit}"%><br/>
<% end %>

<p>
  <strong>Laatija:</strong>
  <%= @pizza.user.to_s %>
</p>

<% if current_user %>
    <%= form_for(@favoritepizza) do |f| %>
        <%= f.hidden_field :pizza_id, :value => @pizza.id %>
        <%= f.submit %>
    <% end %>
<% end %>

<%= link_to 'Edit', edit_pizza_path(@pizza) %> |
<%= link_to 'Back', pizzas_path %>
