<h1>Listing pizzatoppings</h1>

<table>
  <thead>
    <tr>
      <th>Topping</th>
      <th>Pizza</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pizzatoppings.each do |pizzatopping| %>
      <tr>
        <td><%= pizzatopping.topping_id %></td>
        <td><%= pizzatopping.pizza_id %></td>
        <td><%= link_to 'Show', pizzatopping %></td>
        <td><%= link_to 'Edit', edit_pizzatopping_path(pizzatopping) %></td>
        <td><%= link_to 'Destroy', pizzatopping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pizzatopping', new_pizzatopping_path %>
