<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Userlevel:</strong>
  <%= @user.userlevel %>
</p>
  <strong>Suosikkipizzat:</strong>
  <table>
    <% @user.favoritepizzas.each do |p| %>
        <tr>
          <td><%= link_to p.pizza.name, p.pizza %></td>
        </tr>
    <% end %>

  </table>
<p>

</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
