<!DOCTYPE html>
<html>
<head>
  <title>Give me P I Z Z A</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="content">
<div class="leftnavi">
  [<%= link_to 'Pizzas', pizzas_path %>]<br/>
  [<%= link_to 'Toppings', toppings_path %>]<br/>
  [<%= link_to 'Users', users_path %>]<br/>
  [Top pizzas]<br/>
  <% if not current_user.nil? %>
      [<%= link_to current_user.username, current_user %>]<br/>
      [<%= link_to 'Signout', signout_path, method: :delete %>]<br/>
  <% else %>
    [<%= link_to 'Signin', signin_path %>]
  <% end %>
</div>

<div class="pagecontent">
<%= yield %>
</div>
</div>
</body>
</html>
